<% include common/header.ejs %>


<div class="main_container container-fluid">
    <div class="row order-page-panel">

        <div class="left_panel">

            <div class="contact-form-1">
                <div class="form-decription-1">
                    1. Контактні дані
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal">

                            <!-- We should add has-success and has error -->

                            <div class="form-group name-group">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputName" placeholder="Ім’я Прізвище">
                                </div>

                                <span class="name-help-block none">
                                Введіть тільки власне ім’я, без цифр
                                </span>

                            </div>

                            <div class="form-group phone-group">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputPhone" placeholder="+380965664432">
                                </div>
                                <span class="phone-help-block none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>

                            <div class="form-group address-group">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="inputAdress" placeholder="Київ, вул. Спаська, 2">
                                </div>
                                <span class="address-help-block none">
                                Введіть адресу доставки піци
                            </span>
                            </div>

                        </form>
                    </div>

                    <div class="col-md-5 order-summary">
                        <div class="bs-callout bs-callout-warning">
                            <h4>Іформація про замовлення</h4>
                            <p class="order-summery-time">
                                <b>Приблизний час доставки:</b> невідомий
                            </p>
                            <p class="order-summery-adress">
                                <b>Адреса доставки:</b> невідома
                            </p>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button type="button" class="btn btn-warning btn-block next-step-button" id="data_submit">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="right_panel">
            <div class="order">
                <span class="order-list-title">Замовлення</span>
                <span class="badge orange orders-count-span">0</span>

            </div>

            <div class="all-orders r2" id="cart">

            </div>

            <div class="order-state r3">
                <div class="orderPizza">

                    <span class="sum-title">Сума замовлення</span>
                    <span class="total"><span class="sum-number"></span>грн</span>

                </div>
                <div class="do-order-button">
                    <a href="http://localhost:5050/">
                        <button type="button" class="btn btn-warning btn-lg btn-block button-order">
                            Редагувати
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


<% include common/footer.ejs %>