

<footer class="footer">
    <p> Project Pizza, done by Yaroslav Tykhonchuk</p>
</footer>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

<script type="text/javascript"  src="assets/js/validator.js"> </script>
</body>
</html>